<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="chosenExtractType"
  (input)="onChangeExtractType($event)"
  >
  <div>
      <mat-radio-button 
        class="example-radio-button" 
        value="isolate"
        >Isolate</mat-radio-button>
    
      <mat-slider 
        *ngIf="chosenExtractType === 'isolate'"
        min="1" 
        max="60" 
        step="0.5" 
        value="0"
        (input)="onChangePercentConcentration($event.value)" 
        [value]="cbdConcentration"
        [disabled]="chosenExtractType != 'isolate'"
        [displayWith]="formatLabel"
        >
    </mat-slider> 
    <div *ngIf="chosenExtractType === 'isolate'"></div>

    </div>
  
    <div>
    <mat-radio-button class="example-radio-button" value="flower-extract">Flower Extract</mat-radio-button>
    <mat-slider 
    *ngIf="chosenExtractType === 'flower-extract'"
    min="1" 
    max="30" 
    step="0.5" 
    value="0"
    (input)="onChangePercentConcentration($event.value)" 
    [value]="cbdConcentration"
    [disabled]="chosenExtractType != 'flower-extract'"
    [displayWith]="formatLabel"
    thumbLabel
    >
    </mat-slider>
    <div *ngIf="chosenExtractType === 'flower-extract'"></div>

</div>
</mat-radio-group>


<form>
  <mat-form-field appearance="fill">
    <mat-select  
    placeholder="Carrier Oil"  
    [(ngModel)]="selectedCarrierOil"
    name="carrierOil"
    (selectionChange)="onChangeCarrierOil($event)"
    >
    <mat-option *ngFor="let oil of carrierOils" [value]="oil.price">
      {{oil.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
</form>
<p>Price per kg: {{ carrierOilPrice }}</p>

<p>Product Quantity in kg</p>
<mat-slider 
min="1" 
max="300" 
step="0.5" 
value="0"
(input)="onChangeProductQuantity($event.value)" 
[value]="productQuantity"
>
</mat-slider>
<p>Product Quantity: {{productQuantity}} kg</p>

<p>End Price: {{ price }}</p>


<p> cbdConcentration: {{ cbdConcentration  }}  % </p>
<p> productQuantity : {{ productQuantity   }}  kg </p>
<p> carrierOilPrice : {{ carrierOilPrice   }}   </p>
<p> cbdPrice        : {{ cbdPrice          }}   </p>
<p> cbdQuantity     : {{ cbdQuantity       }}  g </p>
<p> costCBD     : {{ costCBD       }}  g </p>
<p> costCarrierOil     : {{ costCarrierOil       }} </p>


