<mat-card>
  <mat-card-header>
    CBD Price Calculator
  </mat-card-header>
  
  <mat-card-content>

    <mat-form-field appearance="fill" >
      <mat-label>Select Option</mat-label>
      <mat-select [(value)]="selected" >
        <mat-option value="isolate">Isolate</mat-option>
        <mat-option value="flower-extract">Flower Extract</mat-option>
        <mat-option value="formulation">Formulation</mat-option>
      </mat-select>
    </mat-form-field>

    <app-isolate *ngIf="selected=='isolate'" ></app-isolate>
    <app-flower-extract *ngIf="selected=='flower-extract'" ></app-flower-extract>
    <app-formulation *ngIf="selected=='formulation'"></app-formulation>
    <app-address-input></app-address-input>
    
  </mat-card-content>
</mat-card>
